/**************************************************/
/*                  G E N E R A L                 */
/**************************************************/
.label-top {
	padding-top: 0px !important;
}
.text-left  {
	text-align: left !important;
}
.text-center  {
	text-align: center !important;
}
.text-right  {
	text-align: right !important;
}
.text-top {
	vertical-align: top !important;
}
.text-middle {
	vertical-align: middle !important;
}
.text-bottom {
	vertical-align: bottom !important;
}
.text-inherit {
	vertical-align: inherit !important;
}
.text-error {
	color: #F56B6B;
}
.buttons {
	padding: 5px 0px;
}
.bootstrap-switch .bootstrap-switch-label {
	white-space: nowrap;
}
.info-window {
	position: relative;
	display: block;
	float: left;
	width: 0px;
	height: auto;
	overflow: hidden;
	-webkit-transition: width 500ms;
    transition: width 500ms;
}
.info-window.resized {
	width: 30%;
}
.info-window .info-window-wrap {
	padding-left: 30px;
}
.info-window .info-window-block {
	display: block;
	padding: 40px 20px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #e8e8e8;
	border-left: 2px solid #bfbfbf;
}
.info-window .info-window-close {
	position: absolute;
	display: block;
	top: 15px;
	right: 20px;
	font-size: 15px;
	cursor: pointer;
}
.info-window-item {
	cursor: pointer;
}
@media only screen and (max-width: 767px) {
	.info-window-item {
		display: none;
	}
}
.panel-resizable {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	-webkit-transition: width 500ms;
    transition: width 500ms;
}
.panel-resizable.resized {
	width: 70%;
}
.clear {
	clear: both;
}
