/**************************************************/
/*                  G E N E R A L                 */
/**************************************************/
.label-top {
	padding-top: 0px !important;
}
.text-left  {
	text-align: left !important;
}
.text-center  {
	text-align: center !important;
}
.text-right  {
	text-align: right !important;
}
.text-top {
	vertical-align: top !important;
}
.text-middle {
	vertical-align: middle !important;
}
.text-bottom {
	vertical-align: bottom !important;
}
.text-inherit {
	vertical-align: inherit !important;
}
.text-error {
	color: #F56B6B;
}
.buttons {
	padding: 5px 0px;
}
.bootstrap-switch .bootstrap-switch-label {
	white-space: nowrap;
}
.control-extensions {
	margin-bottom: 40px;
}
.control-extension {
	float: left;
	display: block;
	width: 180px;
}
.control-extension .image {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.control-extension.installed .image {
	-webkit-filter: none;
    filter: none;
}
.control-extension .name {
	margin-bottom: 10px;
	font-weight: 600;
}
.control-elements {
	margin-top: 40px;
}
.control-element {
	margin-bottom: 20px;
}
.control-element .name {
	margin-bottom: 15px;
}
.control-element .name .control-label {
	padding-top: 0px;
}
.control-element .extension-name {
	float: left;
	display: block;
	padding: 5px 5px;
	background: #eaebea;
	font-weight: bold;
}
.control-element .details {
	float: left;
	display: block;
	padding: 5px 5px;
	margin-left: 10px;
}
.info-window {
	position: relative;
	display: block;
	float: left;
	width: 0px;
	height: auto;
	overflow: hidden;
	-webkit-transition: width 500ms;
    transition: width 500ms;
}
.info-window.resized {
	width: 30%;
}
.info-window .info-window-wrap {
	padding-left: 30px;
}
.info-window .info-window-block {
	display: block;
	padding: 40px 20px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #e8e8e8;
	border-left: 2px solid #bfbfbf;
}
.info-window .info-window-close {
	position: absolute;
	display: block;
	top: 15px;
	right: 20px;
	font-size: 15px;
	cursor: pointer;
}
.info-window-item {
	cursor: pointer;
}
@media only screen and (max-width: 767px) {
	.info-window-item {
		display: none;
	}
}
.panel-resizable {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	-webkit-transition: width 500ms;
    transition: width 500ms;
}
.panel-resizable.resized {
	width: 70%;
}
.panel-install {
	padding-bottom: 0px;
	background-color: #ecf1fb;
	background-image: url(../../../image/catalog/d_seo_module/background.svg);
}
.panel-install .planet {
	display: block;
	margin: 0px auto;
}
.panel-install .features {
	margin: 30px 0px;
}
.panel-install .feature {
	display: block;
	float: left;
	width: 20%;
	height: 170px;
}
.panel-install .feature .feature-wrap {
	padding: 15px 15px;
}
.panel-install .feature .image {
	margin-bottom: 10px;
}
.clear {
	clear: both;
}
