{{ header }}
<div id="product-category" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {% if parent_id != 0 %}
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li {% if loop.first %}class="first"{% endif %}{% if loop.last %}class="last"{% endif %}><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      {{ content_top }}
      <h2>{{ heading_title }}</h2>
      {% endif %}
      {% if (products is not defined or products is empty or parent_id == 0) %}
      <div class="row">
        {% for category in categories %}
        <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="product-thumb transition">
            <div class="image">
              <a href="{{ category.href }}">
                <img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" />
              </a>
            </div>
          </div>
          <div class="caption">
            <div class="col-sm-12">
              <h4><a href="{{ category.href }}">{{ category.name|length > 40 ? category.name|slice(0, 40) ~ '...' : category.name  }}</a></h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {# {% if thumb or description %}
      <div class="row"> {% if thumb %}
        <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
        {% endif %}
        {% if description %}
        <div class="col-sm-10">{{ description }}</div>
        {% endif %}</div>
      <hr>
      {% endif %} #}
      {% if products %}
      <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              
              
              {% for limits in limits %}
              {% if limits.value == limit %}
              
              
              
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
          </div>
        </div>
      </div>
      <div class="row"> {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="product-thumb transition">
      <div class="products-badges">
      {% if product.is_top %}
      <div class="product-badge product-badge-top"></div>
      {% endif %}
      {% if product.is_new %}
      <div class="product-badge product-badge-new"></div>
      {% endif %}
      {% if product.special %}
      <div class="product-badge product-badge-discount"></div>
      {% endif %}
      </div>
      <div class="image">
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
          <div class="shade">
            <div class="shade_background"></div>
            <a class="btn border-radius-0" href="{{ product.href }}">{{button_view}}</a>
          </div> 
      </div>
    </div>
     <div class="caption">
        <div class="col-sm-9">
          <h4><a href="{{ product.href }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name  }}</a></h4>
        </div>
        <div class="col-sm-3">
          {% if product.price %}
          <p class="price">
            {% if not product.special %}
            {{ product.price }}
            {% else %}
            <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
            {% endif %}
          </p>
          {% endif %}
        </div>
      </div>
  </div>
  {% endfor %} </div>
      <div class="row">
        <div class="col-sm-12 text-center">{{ pagination }}</div>
        <!--<div class="col-sm-6 text-right">{{ results }}</div>-->
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 
