{{ header }}
<div id="product-search" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li {% if loop.first %}class="first"{% endif %}{% if loop.last %}class="last"{% endif %}><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      {{ content_top }}
      <h2>{{ heading_title }}</h2>
      {% if products %}
      <div class="row">
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              {% else %}
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              {% endif %}
              {% endfor %}
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              {% for limits in limits %}
              {% if limits.value == limit %}
              
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              
              {% else %}
              
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              
              {% endif %}
              {% endfor %}
            
            </select>
          </div>
        </div>
      </div>
      <div class="row"> {% for product in products %}
  <div class="product-layout col-lg-4 col-md-3 col-sm-6 col-xs-6">
    <div class="product-thumb transition">
      <div class="products-badges">
      {% if product.is_top %}
      <div class="product-badge product-badge-top"></div>
      {% endif %}
      {% if product.is_new %}
      <div class="product-badge product-badge-new"></div>
      {% endif %}
      {% if product.special %}
      <div class="product-badge product-badge-discount"></div>
      {% endif %}
      </div>
      <div class="image">
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
          <div class="shade">
            <div class="shade_background"></div>
            <a class="btn border-radius-0" href="{{ product.href }}">{{button_view}}</a>
          </div> 
      </div>
     
      <!--<div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>-->
    </div>
     <div class="caption">
        <div class="col-sm-9">
          <h4><a href="{{ product.href }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name  }}</a></h4>
        </div>
        <div class="col-sm-3">
          {% if product.price %}
          <p class="price">
            {% if not product.special %}
            {{ product.price }}
            {% else %}
            <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
            {% endif %}
          </p>
          {% endif %}
        </div>
      </div>
  </div>
  {% endfor %} </div>
      <div class="row">
        <div class="col-sm-12 text-center">{{ pagination }}</div>
        <!--<div class="col-sm-6 text-right">{{ results }}</div>-->
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}