{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button
                        type="submit"
                        form="form-payment"
                        data-toggle="tooltip"
                        title="{{ button_save }}"
                        class="btn btn-primary"
                >
                    <i class="fa fa-save"></i>
                </button>
                <a
                        href="{{ cancel }}"
                        data-toggle="tooltip"
                        title="{{ button_cancel }}"
                        class="btn btn-default"
                >
                    <i class="fa fa-reply"></i>
                </a>
            </div>

            <h1>{{ heading_title }}</h1>

            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">
                            {{ breadcrumb.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible">
                <i class="fa fa-exclamation-circle"></i> {{ error_warning }}

                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i> {{ text_edit }}
                </h3>
            </div>

            <div class="panel-body">
                <form
                        action="{{ action }}"
                        method="post"
                        enctype="multipart/form-data"
                        id="form-payment"
                        class="form-horizontal"
                >
                    <div class="form-group required">
                        <label
                                class="col-sm-2 control-label"
                                for="entry-project"
                        >
                            {{ entry_project }}
                        </label>

                        <div class="col-sm-10">
                            <input
                                    type="text"
                                    name="payment_paysera_project"
                                    value="{{ payment_paysera_project }}"
                                    placeholder="{{ entry_project }}"
                                    id="entry-project"
                                    class="form-control"
                            />

                            {% if error_project %}
                                <div class="text-danger">
                                    {{ error_project }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group required">
                        <label
                                class="col-sm-2 control-label"
                                for="entry-sign"
                        >
                            {{ entry_sign }}
                        </label>

                        <div class="col-sm-10">
                            <input
                                    type="text"
                                    name="payment_paysera_sign"
                                    value="{{ payment_paysera_sign }}"
                                    placeholder="{{ entry_sign }}"
                                    id="entry-sign"
                                    class="form-control"
                            />

                            {% if error_sign %}
                                <div class="text-danger">
                                    {{ error_sign }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group required">
                        <label
                                class="col-sm-2 control-label"
                                for="entry-lang"
                        >
                            <span
                                    data-toggle="tooltip"
                                    title="{{ help_lang }}"
                            >
                                {{ entry_lang }}
                            </span>
                        </label>

                        <div class="col-sm-10">
                            <input
                                    type="text"
                                    name="payment_paysera_lang"
                                    value="{{ payment_paysera_lang }}"
                                    placeholder="{{ entry_lang }}"
                                    id="entry-lang"
                                    class="form-control"
                            />

                            {% if error_lang %}
                                <div class="text-danger">
                                    {{ error_lang }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label"
                                for="input-total"
                        >
                            <span
                                    data-toggle="tooltip"
                                    title="{{ help_total }}"
                            >
                                {{ entry_total }}
                            </span>
                        </label>

                        <div class="col-sm-10">
                            <input
                                    type="text"
                                    name="payment_paysera_total"
                                    value="{{ payment_paysera_total }}"
                                    placeholder="{{ entry_total }}"
                                    id="input-total"
                                    class="form-control"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label"
                                for="entry-test"
                        >
                            {{ entry_test }}
                        </label>

                        <div class="col-sm-10">
                            <select
                                    name="payment_paysera_test"
                                    id="entry-test"
                                    class="form-control"
                            >
                                {% if payment_paysera_test %}
                                    <option value="1" selected="selected">
                                        {{ text_on }}
                                    </option>
                                    <option value="0">
                                        {{ text_off }}
                                    </option>
                                {% else %}
                                    <option value="1">
                                        {{ text_on }}
                                    </option>
                                    <option value="0" selected="selected">
                                        {{ text_off }}
                                    </option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="input-new-order-status"
                        >
                            {{ entry_new_order_status }}
                        </label>

                        <div class="col-sm-10">
                            <select
                                    name="payment_paysera_new_order_status_id"
                                    id="input-new-order-status"
                                    class="form-control"
                            >
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_paysera_new_order_status_id %}
                                        <option
                                                value="{{ order_status.order_status_id }}"
                                                selected="selected"
                                        >
                                            {{ order_status.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">
                                            {{ order_status.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label"
                                for="input-order-status"
                        >
                            {{ entry_order_status }}
                        </label>

                        <div class="col-sm-10">
                            <select
                                    name="payment_paysera_order_status_id"
                                    id="input-order-status"
                                    class="form-control"
                            >
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_paysera_order_status_id %}
                                        <option
                                                value="{{ order_status.order_status_id }}"
                                                selected="selected"
                                        >
                                            {{ order_status.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">
                                            {{ order_status.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label"
                                for="input-canceled-order-status"
                        >
                            {{ entry_canceled_status }}
                        </label>

                        <div class="col-sm-10">
                            <select
                                    name="payment_paysera_canceled_order_status_id"
                                    id="input-canceled-order-status"
                                    class="form-control"
                            >
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_paysera_canceled_order_status_id %}
                                        <option
                                                value="{{ order_status.order_status_id }}"
                                                selected="selected"
                                        >
                                            {{ order_status.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">
                                            {{ order_status.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label"
                                for="input-geo-zone"
                        >
                            {{ entry_geo_zone }}
                        </label>

                        <div class="col-sm-10">
                            <select
                                    name="payment_paysera_geo_zone_id"
                                    id="input-geo-zone"
                                    class="form-control"
                            >
                                <option value="0">
                                    {{ text_all_zones }}
                                </option>
                                {% for geo_zone in geo_zones %}
                                    {% if geo_zone.geo_zone_id == payment_paysera_geo_zone_id %}
                                        <option
                                                value="{{ geo_zone.geo_zone_id }}"
                                                selected="selected"
                                        >
                                            {{ geo_zone.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ geo_zone.geo_zone_id }}">
                                            {{ geo_zone.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label"
                                for="input-status"
                        >
                            {{ entry_status }}
                        </label>

                        <div class="col-sm-10">
                            <select
                                    name="payment_paysera_status"
                                    id="input-status"
                                    class="form-control"
                            >
                                {% if payment_paysera_status %}
                                    <option
                                            value="1"
                                            selected="selected"
                                    >
                                        {{ text_enabled }}
                                    </option>
                                    <option value="0">
                                        {{ text_disabled }}
                                    </option>
                                {% else %}
                                    <option value="1">
                                        {{ text_enabled }}
                                    </option>
                                    <option
                                            value="0"
                                            selected="selected"
                                    >
                                        {{ text_disabled }}
                                    </option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label"
                                for="input-display"
                        >
                            {{ entry_paymentlist }}
                        </label>

                        <div class="col-sm-10">
                            <select
                                    name="payment_paysera_display_payments_list"
                                    id="input-display"
                                    class="form-control"
                            >
                                {% if payment_paysera_display_payments_list %}
                                    <option
                                            value="1"
                                            selected="selected"
                                    >
                                        {{ text_yes }}
                                    </option>
                                    <option value="0">
                                        {{ text_no }}
                                    </option>
                                {% else %}
                                    <option value="1">
                                        {{ text_yes }}
                                    </option>
                                    <option
                                            value="0"
                                            selected="selected"
                                    >
                                        {{ text_no }}
                                    </option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label"
                                for="input-sort-order"
                        >
                            {{ entry_sort_order }}
                        </label>

                        <div class="col-sm-10">
                            <input
                                    type="text"
                                    name="payment_paysera_sort_order"
                                    value="{{ payment_paysera_sort_order }}"
                                    placeholder="{{ entry_sort_order }}"
                                    id="input-sort-order"
                                    class="form-control"
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}