html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #666;
	font-size: 1.2rem;
	line-height: 20px;
	width: 100%;
}
@media (max-width: 768px) {
	body {
		font-size: 1,1rem;
	}
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #2f3a56;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
	min-height: 40px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links a + a {
	margin-left: 15px;
}
#top .cell, #top .cell a, #top .cell a:hover{
	padding: 10px;
	background: #E9EEF2;
	color: #2f3a56;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
.text-under-logo img{
	margin-bottom: 5px;
}
.text-under-logo, .text-under-logo:hover
{
	color:#1f222a;
	text-decoration: none;
}
.text-under-logo span{
	font-size: 1.8rem;
	padding: 5px 0;
}
/* search */
#search {
	width: 300px;
	padding: 7px 6px 7px 6px;
}
/* cart */
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #E9EEF2;
	min-height: 40px;
	border-radius: 0px;
}
#menu .nav > li > a {
	color: #323956;
	padding: 15px 15px 15px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #323956;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #323956;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #323956;
	background-color: #E9EEF2;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
	.background-dark-blue{
		width: 251px;
	}
}
@media (max-width: 767px) {
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
.navbar-collapse{
	padding: 0px;
}

.position-absolute{
	position: absolute;
}

.background-dark-blue{
	background:#2f3a56 !important;
	color: #ffffff !important;
}

.discounts-menu{
	color: #e92f05 !important;
}

/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #1f222a;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #303343;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin: 20px 0;
}
footer .form-control{
width: 385px;
border-radius:0;
text-align: center;
}
footer .btn-danger{
	background:#ed1c24;
	border-radius: 0;
	margin-left: 15px !important;
}
footer .first p{
	line-height: 1.8;
}

/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: none;
	background: none;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 15px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li.first {
	padding: 0 15px 0 0;
}

.breadcrumb > li.last:after {
	padding: 0 0 0 15px;
	border: none;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-right: 1px solid #2f3a56;
    border-bottom: 1px solid #2f3a56;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 40px 0 0 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	/* border: 1px solid #cccccc; */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	/* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420; */
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #2f3a56;
	border-radius: 0;
	text-decoration: none;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid rgb(255, 255, 255);
	background: #e9eef2;
	color: #46516b;
	padding: 8px 12px;
	margin-top: 1px;
	margin-bottom: 1px;
}
.list-group a.main.active, .list-group a.main.active:hover, .list-group a.main:hover {
	color: #FFFFFF;
	background: #2f3a56;
	border: none;
	text-shadow: none;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	overflow: auto;
}
.product-thumb .image {
	position: relative;
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.shade
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.shade_background{
	opacity: 0.8;
	background: #e7ebee;
	position: absolute;
	top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
.shade .btn{
	width: 40%;
	margin: auto;
	margin-top: 40%;
	position: relative;
	border: 1px solid #2f3a56;
	color: #2f3a56;
}
.shade:hover {
	opacity: 1;
}
.product-layout{
	margin-bottom: 20px;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.p-0{
	padding: 0px !important;
}
@media (min-width: 768px)
{
	.container {
		width: 100%;
	}
	.navbar-nav>li {
		font-size: 1rem;
	}
	#menu .nav > li > a {
		padding: 15px 6px 15px 6px;
	}
}
@media (min-width: 1013px)
{
	.container {
		width: 100%;
	}
	.navbar-nav>li {
		font-size: 1.4rem;
	}
}
@media (min-width: 1200px)
{
	.container {
		width: 1170px;
	}
}
.background-dark-blue {
	width: 100%;
}
#search {
	width: 100%;
}

.btn-clear{
	border-radius: 0px;
	border: none;
	background: transparent;
	box-shadow: none;
}

.border-radius-0{
	border-radius: 0px !important;
}

.border-0{
	border: none !important;
	box-shadow: none !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.margin-0{
	margin: 0 !important;
}

.nav.navbar-nav{
	width: 100%;
}

.nav-col-2 .menu-border, .nav-col-3 .menu-border, .nav-col-4  .menu-border, .nav-col-5  .menu-border, .nav-col-6  .menu-border{
	border-right: 1px solid #ffffff;
    padding: 15px 0 15px 0;
    position: absolute;
    display: inline-block;
    margin-top: 10px;
}

.nav-col-2 a, .nav-col-3 a, .nav-col-4 a, .nav-col-5 a, .nav-col-6 a{
	display: inline-block !important;
    text-align: center;
    width: calc(100% - 1px);
}

@media (min-width: 768px)
{
	.nav-col-1{
		width: 15%;
	}

	.nav-col-2{
		width: 25%;
	}

	.nav-col-3{
		width: 10%;
	}

	.nav-col-4{
		width: 23%;
	}

	.nav-col-5{
		width: 12%;
	}

	.nav-col-6{
		width: 15%;
	}

	.text-under-logo span {
		font-size: 1.68rem;
	}
}

@media (min-width: 992px)
{
	.nav-col-1{
		width: 21%;
	}

	.nav-col-2{
		width: 22%;
	}

	.nav-col-3{
		width: 11%;
	}

	.nav-col-4{
		width: 20%;
	}

	.nav-col-5{
		width: 12%;
	}

	.nav-col-6{
		width: 14%;
	}

	.text-under-logo span {
		font-size: 1.8rem;
	}
}

@media (min-width: 1130px)
{
	.nav-col-1{
		width: 23%;
	}

	.nav-col-2{
		width: 22%;
	}

	.nav-col-3{
		width: 9%;
	}

	.nav-col-4{
		width: 23%;
	}

	.nav-col-5{
		width: 11%;
	}

	.nav-col-6{
		width: 12%;
	}
}

.newsletter-label{
	font-size: 2rem;
	padding: 11px 0 22px 0;
}

img.social{
	width: 30px;
}

.padding-right-2 {
	padding-right: 2px;
}
.padding-left-2{
	padding-left: 2px;
}
.padding-top-0 {padding-top: 0px;}

.margin-auto { margin:auto;}
.display-table{display:table;}
.height-44{height: 30px !important;}
.height-icon{height: 20px !important; display:inline-block;}
.text-white{color:#fff;}
.fa-2rem{font-size:2rem;}

.navbar{margin-bottom:10px;}

@media(max-width: 768px)
{
	header{
		margin-top: 10px;
		padding-left: 10px;
	}
	#top .cell, #top .cell a, #top .cell a:hover{
		padding: 5px;
		background: transparent;
		color: #2f3a56;
	}

	#top .cell i {
		font-size: 2rem;
	}

	#top {
		z-index: 9999;
		top: 13px;
		position: absolute;
		left: 50%;
	}

	#logo img {
		width: 150px;
	}

	.text-under-logo span {
		font-size: 1.1rem;
	}

	#form-language img{
		margin-top: -10px;
		width: 25px;
	}

	#menu{
		/* border: 0px;
		height: 0px !important;
		min-height: 0px; */
		border-radius: 0px;
		z-index: 8000;
	}

	#menu .navbar-toggle{
		position: absolute;
		right: -25px;
		top: -71px;
	}
	.navbar{
		margin-bottom: 0px;
	}

	#menu .navbar-collapse{
		background-color: #e9eef2;
	}
	.menu-container{
		padding: 0px;
	}
}

@media(max-width: 450px)
{
	#top .cell, #top .cell a, #top .cell a:hover{
		padding-left: 3px;
		padding-right: 3px;
	}
}

.background-dark-blue .fa-bars{
	font-size: 2rem;
	margin-left: 5px;
	margin-top: 0px
}

.cart-xs i {
	margin-top: 13px;
    margin-right: 5px;
}

.categories-tree{
	font-size: 1.4rem;
}

.categories-tree .list-group-item{
	overflow-wrap: break-word;
}

.categories-tree .list-group-item.child{
	margin: 1px 15px 1px 15px;
	text-align: center;
	background: #f3f6f9;
	font-size: 1.2rem;
}
.categories-tree .list-group-item.child.active, .categories-tree .list-group-item.child:hover{
	background: #dae6f1;
	border: none;
	color: #46516b;
}
.swiper-pagination {
    bottom: 10px !important;
}

.swiper-viewport {
	margin-left: -15px !important;
	width: calc(100% + 15px) !important;
}
.swipper-text-block{
	float: right;
	top: 20px;
    text-align: left;
    height: 100px;
    position: absolute;
    right: 0;
    width: 400px;
	font-size: 1.4rem;
	line-height: 3rem;
	background-color:rgba(255, 255, 255, 0.6);
}
.swipper-text{
	padding: 20px;
}

#content .categories-tree{
	visibility: hidden;
	display: none;
}

#content .list-group{
	margin-bottom: 0px;
}

#content .categories-tree .list-group-item{
	width: 32%;
   	display: inline-block;
}

@media(max-width:768px){	
	.swiper-viewport {
		margin-right: -15px !important;
		width: calc(100% + 30px) !important;
		height: calc(100vh - 120px) !important;
	}
	.swiper-viewport, .swiper-container, .swiper-wrapper, .swiper-slide img{
		height: calc(100vh - 120px) !important;
	}
	.swipper-text-block{
		width:200px;
		font-size: 1rem;
	}
	#content .categories-tree{
		visibility: visible;
		display: block;
	}
}

@media(min-width:768px){
	.swiper-viewport, .swiper-container, .swiper-wrapper, .swiper-slide img{
		height: 804px;
	}
}

@media(min-width:900px){
	.swiper-viewport, .swiper-container, .swiper-wrapper, .swiper-slide img{
		height: 706px;
	}
}

@media(min-width:1130px){
	.swiper-viewport, .swiper-container, .swiper-wrapper, .swiper-slide img{
		height: 667px;
	}
}
.swiper-button-next, .swiper-button-prev{
	height: 65px;
	width: 65px;
	content: "";
}
.swiper-button-next{
	background-image: url('../image/slider/right.png');
}
.swiper-button-prev{
	background-image: url('../image/slider/left.png');
}

.product-layout .caption{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 32px;
	overflow: hidden;
}

.product-layout .caption h4 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.product-layout .caption .price, .price-new, .price-old {font-weight: bold;}
.text-center{text-align:center;}
.price{line-height: 15px;}
.price-new{color:#ed1c24;}
.price-old{font-weight: 400; text-decoration: line-through;}
.products-badges {position: absolute; margin-left: -14px;z-index: 9999;}
.product-badge {width: 28px; height: 28px; margin-top: 5px;}
.product-badge-discount {background-image: url('../image/product-status/discount.png');}
.product-badge-new {background-image: url('../image/product-status/new.png');}
.product-badge-top {background-image: url('../image/product-status/top.png');}
.product-pick-up {background: url('../image/other/box.png') no-repeat; padding-left: 33px;}
.product-delivery {background: url('../image/other/delivery.png') no-repeat; padding-left: 48px;}
.product-facebook {background: url('../image/other/facebook.png') no-repeat; width: 35px; height: 35px; display: inline-flex;}
.product-pinterest {background: url('../image/other/pinterest.png') no-repeat; width: 35px; height: 35px; display: inline-flex;}
.product-twitter {background: url('../image/other/twitter.png') no-repeat; width: 35px; height: 35px; display: inline-flex;}
.product-google {background: url('../image/other/google.png') no-repeat; width: 35px; height: 35px; display: inline-flex;}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.pagination>li>a, .pagination>li>span {
    color: #2f3a56;
    background-color: transparent;
    border: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #2f3a56;
    background-color: transparent;
    font-weight: 900;
}

#product-category .product-layout{
	padding-right: 15px;
	padding-left: 0px;
}

#product-category .product-thumb, .border-gray-1{
	border: 1px solid #e9eef0;
}

#product-category .product-layout .caption {
	margin-top: 0px;
	margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 52px;
    overflow: hidden;
	background:none;
}

.thumbnail{
	border: none;
}

.main-product-data {
	border:  2px solid #e9eef2;

}

.main-product-data h1{
	color:#2f3a56;
}

.product-main-thumbnail{
	border-bottom: 2px solid #e9eef0;
	margin-bottom: 10px;
}

.image-additional a{
	border: 0px;
}

.product-information{
	background: #e9eef2;
	margin-top: 20px;
}

.separator{
	width: 100%;
	margin: 5px 0 10px 0px;
	border-bottom: 1px solid #7d819c;
}

.information-label{
	font-size: 20px;
}

.product-information .nav-tabs>li.active>a, .product-information .nav-tabs>li.active>a:focus, .product-information .nav-tabs>li.active>a:hover, 
.product-information  .nav-tabs>li>a {
    background-color: transparent; 
	border: none;
	padding:0px;
	margin-right: 15px;
}
.product-information .nav-tabs {
	border-bottom: none;
	margin-bottom: 0px;
	margin-top:20px;
}

.mt-15
{
	margin-top: 15px;
}

.mb-15
{
	margin-bottom: 15px;
}

.text-underline{
	text-decoration: underline;
}

.center{
	width: 150px;
	  margin: 40px auto;
	  
	}

.width-150{
	width: 150px;
}