          <div class="menu-border"></div><a href="{{ account }}" title="{{ text_cart_label }}" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs">{{ text_cart_label | upper }}</span> 
          <i class="fa fa-shopping-cart fa-2rem position-absolute"></i></a>
    <ul class="dropdown-menu dropdown-menu-right">
      {% if products or vouchers %}
      <li><a href="{{ cart }}">{{ text_cart | upper }}</a></li>
      <li><a href="{{ checkout }}">{{ text_checkout | upper }}</a></li>
      {% else %}
      <li>
        <p class="text-center">{{ text_empty | upper }}</p>
      </li>
      {% endif %}
    </ul>