<footer>
  <div class="container">
    <div class="row margin-0">
      <div class="newsletter-label">{{text_newsletter_label}}</div>
    </div>
    <div class="row">
      <div class="col-md-5 col-xs-12 col-sm-12">
        <div class="row margin-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{text_newsletter_email_enter}}">
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button">{{text_newsletter_order}}</button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <div class="margin-auto display-table">
            <a class="btn btn-sm border-0 padding-right-2 padding-left-2 padding-top-0" href="#" role="button">
              <img src="{{ facebook }}" title="facebook" alt="facebook" class="img-responsive social" />
            </a>
            <a class="btn btn-sm border-0 padding-right-2 padding-left-2 padding-top-0" href="#" role="button">
              <img src="{{ linkedin }}" title="linkedin" alt="linkedin" class="img-responsive social" />
            </a>
            <a class="btn btn-sm border-0 padding-right-2 padding-left-2 padding-top-0" href="#" role="button">
              <img src="{{ twitter }}" title="twitter" alt="twitter" class="img-responsive social" />
            </a>
            <a class="btn btn-sm border-0 padding-right-2 padding-left-2 padding-top-0" href="#" role="button">
              <img src="{{ instagram }}" title="instagram" alt="instagram" class="img-responsive social" />
            </a>
        </div>
      </div>
      <div class="col-md-4 hidden-xs hidden-sm">
        <img src="{{ logo_white }}" title="{{ name }}" alt="{{ name }}" class="img-responsive pull-right height-44" />
      </div>
    </div>
    <hr>
    <div class="row margin-0 second">
     
      <div class="col-sm-4 col-sm-push-8">
        <h5 class="hidden-xs">{{ text_our_locations }}</h5>
        <h5 class="visible-xs">{{ text_contacts }}</h5>
        <div class="row margin-0">
        {% for location in locations %}
          <div class="col-md-6 p-0">
            <ul class="list-unstyled">
              <li class="text-uppercase">{{location.name}}</li>
              <li>
                <i class="fa fa-map-marker text-white" aria-hidden="true"></i>
                {{location.address}}
              </li>
              <li>
                <i class="fa fa-phone text-white" aria-hidden="true"></i>
                {{location.telephone}}
              </li>              
              <li>
                {{location.open}}
              </li>
            </ul>
          </div>
        {% endfor %}
        </div>
      </div>

      <div class="col-sm-5 col-sm-pull-4">
        <h5>{{ text_about_us }}</h5>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id feugiat metus. Duis auctor lacinia lorem, vel tempor odio egestas id. Aliquam mattis mauris a libero congue, vel feugiat lacus.
        </p>
      </div>

      <div class="col-sm-3 col-sm-pull-4">
        <h5>{{ text_for_clients }}</h5>
        <ul class="list-unstyled">
          {% for information in informations %}
          <li>
          <img src="{{information.icon}}" class="height-icon img-responsive">
          <a href="{{ information.href }}">{{information.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <hr class="visible-xs visible-sm">
    <div class="container visible-xs visible-sm">
      <div class="margin-auto display-table">
          <a class="btn btn-sm border-0 padding-right-2 padding-left-2 padding-top-0" href="#" role="button">
            <img src="{{ facebook }}" title="facebook" alt="facebook" class="img-responsive social" />
          </a>
          <a class="btn btn-sm border-0 padding-right-2 padding-left-2 padding-top-0" href="#" role="button">
            <img src="{{ linkedin }}" title="linkedin" alt="linkedin" class="img-responsive social" />
          </a>
          <a class="btn btn-sm border-0 padding-right-2 padding-left-2 padding-top-0" href="#" role="button">
            <img src="{{ twitter }}" title="twitter" alt="twitter" class="img-responsive social" />
          </a>
          <a class="btn btn-sm border-0 padding-right-2 padding-left-2 padding-top-0" href="#" role="button">
            <img src="{{ instagram }}" title="instagram" alt="instagram" class="img-responsive social" />
          </a>
      </div>
    </div>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>