<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
<link href="catalog/view/theme/decormix/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<nav id="top">
  <div class="container">
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li class="cell"><a href="mailto:{{ email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;<span class="hidden-xs">{{ email }}</span></a></li>
        <li class="cell"><a href="tel:{{ telephone }}"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<span class="hidden-xs">{{ telephone }}</span></a></li>
        <li class="cell">{{ language }}</li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">{% if logo %}<a href="{{ home }}" class="text-under-logo"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
            <span>{{text_underLogo}}</span></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
    </div>
  </div>
</header>
<div class="container menu-container">
  <nav id="menu" class="navbar">
    <div class="row visible-xs">
      <div class="col-sm-11 col-xs-10">{{ search }}</div>
      <div class="col cart-xs">{{ cart }}</div>
    </div>
      <button type="button" class="btn btn-clear navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars fa-2x"></i></button>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% if categories %}    
          {% for category in categories %}
          <li class="nav-col-1">
            <a href="{{ category.href }}" class="background-dark-blue">
              <i class="fa fa-bars position-absolute"></i> 
              <div class="text-center">{{ category.name }}</div>
            </a>
          </li>
          {% endfor %}
        {% endif %}   
        <li class="nav-col-2"><a href="{{ discounts }}" class="discounts-menu">{{text_discounted_products | upper}}</a><div class="menu-border"></div></li>
        <li class="nav-col-3"><a href="{{ contact }}">{{text_contacts | upper}}</a><div class="menu-border"></div></li>
        <li class="nav-col-4 hidden-xs">{{ search }}</li>
        <li class="dropdown nav-col-5"><div class="menu-border"></div><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown">{{ text_account | upper }}</a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account | upper }}</a></li>
            <li><a href="{{ order }}">{{ text_order | upper }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction | upper }}</a></li>
            <li><a href="{{ download }}">{{ text_download | upper }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout | upper }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register | upper }}</a></li>
            <li><a href="{{ login }}">{{ text_login | upper }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="dropdown nav-col-6 hidden-xs">{{ cart }}</li>
      </ul>
    </div>  
  </nav>
</div>
