{% if categories %}
    
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown nav-col-1"><a href="{{ category.href }}" class="dropdown-toggle background-dark-blue" data-toggle="dropdown"><i class="fa fa-bars position-absolute"></i> <div class="text-center">{{ category.name }}</div></a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
{% endif %} 