<div id="search" class="input-group border-radius-0 border-0">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" id="input-search" class="form-control border-radius-0 border-0" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-clear" id="button-search"><i class="fa fa-search fa-2rem"></i></button>
  </span>
</div>