{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="form-inline pull-right">
				{% if (stores|length > 1) %}
				<select class="form-control" onChange="location='{{ href_custom_page }}&store_id='+$(this).val()">
				{% for store in stores %}
				{% if (store['store_id'] == store_id) %}
					<option value="{{ store['store_id'] }}" selected="selected">{{ store['name'] }}</option>
				{% else %}
					<option value="{{ store['store_id'] }}">{{ store['name'] }}</option>
				{% endif %}
				{% endfor %}
				</select>
				{% endif %}
				<button id="button_create_default_custom_page" data-toggle="tooltip" title="{{ button_create_default_custom_page }}" class="btn btn-success"><i class="fa fa-cogs"></i></button>
				<button id="button_add" type="button" data-toggle="tooltip" title="{{ button_add_custom_page }}" class="btn btn-primary"><i class="fa fa-plus"></i></button>
				<button id="button_delete" type="button" data-toggle="tooltip" title="{{ button_delete_custom_page }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }} {{ version }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error['warning'] %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error['warning'] }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default panel-resizable">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li>
						<a href="{{ href_dashboard }}"><span class="fa fa-dashboard"></span> {{ text_dashboard }}</a>
					</li>
					<li>
						<a href="{{ href_setting }}"><span class="fa fa-cog"></span> {{ text_settings }}</a>
					</li>
					<li>
						<a href="{{ href_field_setting }}"><span class="fa fa-cog"></span> {{ text_multi_store_field_settings }}</a>
					</li>
					<li class="active">
						<a href="{{ href_custom_page }}"><span class="fa fa-user"></span> {{ text_custom_pages }}</a>
					</li>
					<li>
						<a href="{{ href_export_import }}"><span class="fa fa-file-o"></span> {{ text_export_import }}</a>
					</li>
					<li>
						<a href="{{ href_instruction }}"><span class="fa fa-graduation-cap"></span> {{ text_instructions }}</a>
					</li>
				</ul>
								
				<form method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
					<div class="page-header">
						<h3>{{ text_custom_pages_target_keywords }} <span class="info-window-item" data-href="https://opencartseomodule.com/target-keyword-planner"><i class="fa fa-question-circle"></i></span></h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked).trigger('change');" /></td>
									<td class="text-center">{{ column_route }}</td>
									{% for language in languages %}
									<td class="text-center">{{ column_target_keyword }}({{ language['code'] }})</td>
									{% endfor %}
								<tr>
							</thead>
							<tbody>
								{% if custom_pages %}
								{% set custom_page_row = 0 %}
								{% for custom_page in custom_pages %}
								<tr>
									<td class="custom-page-cell text-left">
									{% if (custom_page['route'] in selected) %}
										<input type="checkbox" name="selected[]" value="{{ custom_page['route'] }}" checked="checked" />
									{% else %}
										<input type="checkbox" name="selected[]" value="{{ custom_page['route']}}" />
									{% endif %}
									</td>
									<td class="custom-page-cell text-left">
										<div id="custom_page_route" class="custom-page-field">
											<span class="text-field">{{ custom_page['route'] }}</span>
										</div>
									</td>
									{% for language in languages %}
									<td class="custom-page-cell text-left">
										<div id="custom_page_{{ custom_page_row }}_target_keyword_{{ language['language_id'] }}" class="custom-page-field" route="{{ custom_page['route'] }}" language_id="{{ language['language_id'] }}">
											<span class="text-field">{% for sort_order, keyword in custom_page['target_keyword'][store_id][language['language_id']] %}{% if (custom_page['target_keyword_duplicate'][store_id][language['language_id']][sort_order]) %}<span class="text-danger">[{{ keyword }}]</span>{% else %}<span>[{{ keyword }}]</span>{% endif %}{% endfor %}</span>
											<textarea class="input-field form-control hide">{% for sort_order, keyword in custom_page['target_keyword'][store_id][language['language_id']] %}[{{ keyword }}]{% endfor %}</textarea>
										</div>
									</td>	
									{% endfor %}							
								</tr>
								{% set custom_page_row = custom_page_row + 1 %}
								{% endfor %}
								{% else %}
								<tr>
									<td class="text-center" colspan="{{ languages|length + 2 }}">
										<span class="btn btn-success" onclick="$('#button_create_default_custom_page').trigger('click');"><i class="fa fa-cogs"></i> {{ button_create_default_custom_page }}</span>
									</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-sm-6 text-left">{{ pagination }}</div>
						<div class="col-sm-6 text-right">{{ results }}</div>
					</div>	
				</form>
			</div>
		</div>
		<div class="info-window">
			<div class="info-window-wrap">
				<div class="info-window-block">
					<div class="info-window-close"><i class="fa fa-close"></i></div>
					<div class="info-window-description"></div>
				</div>
			</div>
		</div>
		<br class="clear"/>
	</div>
</div>
<script type="text/javascript">

var info_window = {
	'item' : new Array(),
	'current_url' : ''
}
	
$.each($('.info-window-item'), function(key, value) {
	var url = $(this).attr('data-href');
		
	if (url) {
		$.getJSON(url + '?format=json&callback=?', function(data) {
			info_window.item[url] = data['description'];
		});
	}
});
	
$('.info-window-item').on('click', function() {
	var url = $(this).attr('data-href');
	
	if (url == info_window.current_url) {
		info_window.current_url = '';
		$('.info-window').removeClass('resized');
		$('.panel-resizable').removeClass('resized');
	} else {
		info_window.current_url = url;
		$('.info-window .info-window-description').html(info_window.item[url]);
		$('.panel-resizable').addClass('resized');
		$('.info-window').addClass('resized');
	}
});
	
$('.info-window .info-window-close').on('click', function() {
	info_window.current_url = '';
	$('.info-window').removeClass('resized');
	$('.panel-resizable').removeClass('resized');
});

update();

function update() {
	$('[name^=\'selected\']').on('change', function() {
		$('#button_delete').prop('disabled', true);
	
		var selected = $('[name^=\'selected\']:checked');
		
		if (selected.length) {
			$('#button_delete').prop('disabled', false);
		}
	});

	$('[name^=\'selected\']:first').trigger('change');
}

function refresh() {
	var url = 'index.php?route={{ route }}/custom_page&{{ url_token }}&store_id={{ store_id }}';
	
	var page = '{{ page }}';	
	
	if (page) {
		url += '&page=' + encodeURIComponent(page);
	}
				
	$("#form").load(url + ' #form >', function() {
		update();
	});
}

function showAlert(json) {
	$('.alert, .text-danger').remove();
	$('.form-group').removeClass('has-error');
						
	if (json['error']) {
		if (json['error']['warning']) {
			if ($('#modal-dialog').length > 0) {
				$('#modal-dialog .modal-body').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			} else {
				$('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
		}				
				
		for (i in json['error']) {
			var element = $('#input_' + i);
					
			if (element.parent().hasClass('input-group')) {
                $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
			} else {
				$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
			}
		}				
				
		$('.text-danger').parents('.form-group').addClass('has-error');
	}
			
	if (json['success']) {
		$('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
	}
}
</script> 
<script type="text/javascript">

$('body').on('click', '.custom-page-cell', function() {
	var custom_page = $(this).children('.custom-page-field');
		
	if ($(custom_page).children('.input-field').hasClass('hide') && ($(custom_page).children('.input-field').attr('type') != 'hidden')) {
		$('.popover').popover('hide', function() {
			$('.popover').remove();
		});
	
		$('.text-field').removeClass('hide');
		$('.input-field').addClass('hide');

		$(custom_page).popover({
			html: true,
			placement: 'top',
			trigger: 'manual',
			content: function() {
				return '<button type="button" id="button_save" class="btn btn-primary" custom_page_field_id="' + custom_page.attr('id') + '"><i class="fa fa-save"></i></button> <button type="button" id="button_cancel" class="btn btn-danger" custom_page_field_id="' + custom_page.attr('id') + '"><i class="fa fa-remove"></i></button>';
			}
		});

		$(custom_page).popover('show');
	
		$(custom_page).children('.text-field').addClass('hide');
		$(custom_page).children('.input-field').removeClass('hide');
	}
});

$('body').on('click', '#button_save', function() {
	var custom_page = $('#' + $(this).attr('custom_page_field_id'));
	var route = $(custom_page).attr('route');
	var language_id = $(custom_page).attr('language_id');
	var target_keyword = $(custom_page).children('.input-field').val();
		
	$.ajax({
		url: 'index.php?route={{ route }}/editCustomPage&{{ url_token }}&store_id={{ store_id }}',
		type: 'post',
		data: 'route=' + route + '&language_id=' + language_id + '&target_keyword=' + encodeURIComponent(target_keyword),
		dataType: 'json',
		success: function(json) {
			showAlert(json);
			
			$(custom_page).popover('hide', function() {
				$('.popover').remove();
			});
			
			setTimeout(function() {
				if (json['error'].length == 0) {
					$(custom_page).children('.text-field').text($(custom_page).children('.input-field').val());
				} else {
					$(custom_page).children('.input-field').val($(custom_page).children('.text-field').text());
				}
				$(custom_page).children('.text-field').removeClass('hide');
				$(custom_page).children('.input-field').addClass('hide');
				refresh();
			}, 200);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
		
$('body').on('click', '#button_cancel', function() {
	var custom_page = $('#' + $(this).attr('custom_page_field_id'));
		
	$(custom_page).popover('hide', function() {
		$('.popover').remove();
	});
			
	setTimeout(function() {
		$(custom_page).children('.input-field').val($(custom_page).children('.text-field').text());
		$(custom_page).children('.text-field').removeClass('hide');
		$(custom_page).children('.input-field').addClass('hide');
	}, 200);
});

$('body').on('click', '#button_create_default_custom_page', function() {
	if (confirm("{{ text_create_default_custom_pages_confirm }}")) {	
		$.ajax({
			url: 'index.php?route={{ route }}/createDefaultCustomPages&{{ url_token }}&store_id={{ store_id }}',
			type: 'post',
			data: '',
			dataType: 'json',
			success: function(json) {
				showAlert(json);
				
				if (json['success']) {
					$('#modal-dialog').modal('hide');
					refresh();
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
});

$('body').on('click', '#button_add', function() {
	modal_html  = '<div id="modal-dialog" class="modal"><div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button><h4 class="modal-title">{{ text_add_custom_page }}</h4></div>';
	modal_html += '<div class="modal-body"><div class="form-horizontal">';
	modal_html += '<div class="row"><label class="col-sm-3 control-label" for="input-custom-page-route">{{ entry_route }}</label><div class="col-sm-9"><input type="text" name="custom_page[route]" value="" id="input_custom_page_route" class="form-control"/></div></div><br/>';
	modal_html += '<div class="row"><label class="col-sm-3 control-label" for="input-custom-page-seo-keyword">{{ entry_target_keyword }}</label><div class="col-sm-9">';
	{% for language in languages %}
	modal_html += '<div class="input-group"><span class="input-group-addon"><img src="{{ language.flag }}" title="{{ language.name }}"></span><textarea name="custom_page[target_keyword][{{ language.language_id }}]" id="input_custom_page_target_keyword_{{ language.language_id }}" class="form-control"></textarea></div>';
	{% endfor %}
	modal_html += '</div></div>';		
	modal_html += '</div></div>';		
	modal_html += '<div class="modal-footer"><button type="button" data-toggle="tooltip" title="{{ button_add_custom_page }}"  id="button_add_custom_page" class="btn btn-primary">{{ button_add_custom_page }}</button></div>';		
	modal_html += '</div></div></div>';
		
	$('#modal-dialog').remove();
		
	$('body').append(modal_html);
		
	$('#modal-dialog').modal('show');
});

$('body').on('click', '#button_add_custom_page', function() {
	$.ajax({
		type: 'post',
		url: 'index.php?route={{ route }}/addCustomPage&{{ url_token }}&store_id={{ store_id }}',
		data: $('[name^="custom_page"]'),
		dataType: 'json',
		success: function(json) {
			showAlert(json);
			
			if (json['success']) {
				$('#modal-dialog').modal('hide');
				refresh();
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});  
});

$('body').on('click', '#button_delete', function() {
	if (confirm('{{ text_delete_custom_pages_confirm }}')) {
		$.ajax({
			type: 'post',
			url: 'index.php?route={{ route }}/deleteCustomPage&{{ url_token }}&store_id={{ store_id }}',
			data: $('#form').serialize(),
			dataType: 'json',
			success: function(json) {
				showAlert(json);
				
				if (json['success']) {
					refresh();
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});  
	}
});

</script>
{{ footer }}