<div class="list-group categories-tree">
  {% for category in categories %}
  {% if category.top == false %}
  <a {% if category.children %}{% else %}href="{{ category.href }}"{% endif %} class="list-group-item main {% if category.isActive %}active{% endif %} border-0" data-toggle="collapse" data-target=".children_{{category.category_id}}">
    <div class="row">
      <div class="col-sm-3">
        <img src="{{category.icon}}" title="{{category.name}}" alt="{{category.name}}" class="img-responsive"/>
      </div>
      <div class="col-sm-9">
        {{ category.name }}
      </div>
    </div>
  </a> 
  {% endif %}
  {% if category.children %}
  <div class="{% if category.isActive == false %}collapse{% endif %} children_{{category.category_id}}">
  {% for child in category.children %}
  {% if child.category_id == child_id %}
  <a href="{{ child.href }}" class="list-group-item child active">
        {{ child.name }}
  </a> 
  {% else %} 
  <a href="{{ child.href }}" class="list-group-item child">
        {{ child.name }}
  </a>
  {% endif %}
  {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
</div>
