<div class="swiper-viewport border-0">
  <div id="slideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper"> {% for banner in banners %}
      <div class="swiper-slide text-center">
      {% if banner.link %}<img src="{{ banner.image }}" alt="{{ banner.title }}" />
      <div class="swipper-text-block">
        <div class="swipper-text">
            {{banner.title}}<br/>
            <a href="{{ banner.link }}" class="btn btn-danger border-0">{{text_preview}}</a>
        </div>
      </div>
      {% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
      {% endif %}
      </div>
      {% endfor %} </div>
  </div>
  <div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: false
});
--></script>