<h3>{{ heading_title }}</h3>
<div class="row"> {% for product in products %}
  <div class="product-layout col-lg-5ths col-md-3 col-sm-6 col-xs-6">
    <div class="product-thumb transition">
      <div class="products-badges">
      {% if product.is_top %}
      <div class="product-badge product-badge-top"></div>
      {% endif %}
      {% if product.is_new %}
      <div class="product-badge product-badge-new"></div>
      {% endif %}
      {% if product.special %}
      <div class="product-badge product-badge-discount"></div>
      {% endif %}
      </div>
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
     
      <!--<div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>-->
    </div>
     <div class="caption">
        <div class="col-sm-9">
          <h4><a href="{{ product.href }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name  }}</a></h4>
        </div>
        <div class="col-sm-3">
          {% if product.price %}
          <p class="price">
            {% if not product.special %}
            {{ product.price }}
            {% else %}
            <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
            {% endif %}
          </p>
          {% endif %}
        </div>
      </div>
  </div>
  {% endfor %}
   </div>
