{{ header }}
<div style="text-align: center;">
    <h1>{{ heading_title }}</h1>

    <p>{{ text_response }}</p>

    <div style="border: 1px solid #DDDDDD; margin-bottom: 20px; width: 350px; margin-left: auto; margin-right: auto;">
        <WPDISPLAY ITEM=banner>
    </div>

    <p>{{ text_success }}</p>

    <p>{{ text_success_wait }}</p>
</div>

<script type="text/javascript">
    <!--
    setTimeout('location = \'{{ continue }}\';', 2500);
    //-->
</script>