<div id="{{ codename }}" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-signal"></i> {{ heading_title }} {{ text_heading_info }}</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs stores">
			{% for store in stores %}
            <li><a class="nav-store" href="#{{ codename }}_store_{{ store['store_id'] }}" data-toggle="tab">{{ store['name'] }} {% if store['duplicate_target_elements_count'] is defined %}<span class="label label-danger">{{ store['duplicate_target_elements_count'] }}</span>{% endif %} {% if store['empty_target_elements_count'] is defined %}<span class="label label-warning">{{ store['empty_target_elements_count'] }}</span>{% endif %}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
			{% for store in stores %}
			<div id="{{ codename }}_store_{{ store['store_id'] }}" class="tab-pane">
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td class="text-center">{{ column_route }}</td>
								{% for language in languages %}
								<td class="text-center">{{ column_target_keyword }}({{ language['code'] }})</td>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% if store['target_elements'] %}
							{% set target_element_row = 0 %}
							{% for target_element in store['target_elements'] %}
							<tr>
								<td class="target-element-cell text-left">
									<div class="target-field">
										{% if target_element['link'] %}
										<a href="{{ target_element['link'] }}" target="_blank"><span class="text-field">{{ target_element['route'] }}</span></a>
										{% else %}
										<span class="text-field">{{ target_element['route'] }}</span>
										{% endif %}
									</div>
								</td>
								{% for language in languages %}
								<td class="target-element-cell text-left">
									<div id="target_element_{{ target_element_row }}_target_keyword_{{ store['store_id'] }}_{{ language['language_id'] }}" class="target-element-field" route="{{ target_element['route'] }}" store_id="{{ store['store_id'] }}" language_id="{{ language['language_id'] }}">
										<span class="text-field">{% for sort_order, keyword in target_element['target_keyword'][store['store_id']][language['language_id']] %}{% if target_element['target_keyword_duplicate'][store['store_id']][language['language_id']][sort_order] %}<span class="text-danger">[{{ keyword }}]</span>{% else %}<span>[{{ keyword }}]</span>{% endif %}{% endfor %}</span>
										<textarea class="input-field form-control hide">{% for sort_order, keyword in target_element['target_keyword'][store['store_id']][language['language_id']] %}[{{ keyword }}]{% endfor %}</textarea>
									</div>
								</td>	
								{% endfor %}								
							</tr>
							{% set target_element_row = target_element_row + 1 %}
							{% endfor %}
							{% else %}
							<tr>
								<td class="text-center" colspan="{{ languages|length + 1 }}">{{ text_no_results }}</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>	
</div>